{% extends 'base.html' %}


{% block content %}
<div class="page-section pt-5">
    <div dir="rtl" class="container">
      
      
      <div class="row" style="text-align: right;">
        <div class="col-lg-12">
          <div class="blog-single-wrap">
            <div class="header">
              <div class="post-thumb">
                <img src="{{ single_idea.category.category_img.url }}" alt="">
              
              </div>
            
              <div class="meta-header">
                <div class="post-author">
                  <div class="avatar">
                    {% comment %} <img src="../Idea_nama/assets/img/person/person_1.jpg" alt=""> {% endcomment %}
                  </div>
                  <div>
                  ایده پرداز: <a href="#"> {{single_idea.user.first_name }} {{ single_idea.user.last_name}} </a>
                </div>

                </div>

                <div>
                امتیاز داوران: <a href="#"> 
                  {% if single_idea.is_accepted == True and single_idea.score > 0 %}
                   {{ single_idea.score}}
                   {% elif single_idea.is_accepted == False and single_idea.score == 0%}
                   در انتظار داوری
                   {% else %}
                   "تایید نشده"
                  {% endif %}  </a>
              </div>
              <div>
                رویداد: <a href="#"> {{ single_idea.category.category_name}} </a>
              </div>
              <div>
                مخاطبان: <a href="#"> {{ single_idea.contact}} </a>
              </div>
              <div>
                محل برگزاری: <a href="#"> {{ single_idea.participant_place}} </a>
              </div>
            </div>
              </div>
            </div>
            {% load jformat %}
            <h1 class="post-title">{{ single_idea.title }}</h1>
            <div class="post-meta">
              <div class="post-date">
                <span class="icon">
                  <span class="mai-time-outline">منتشر شده در :</span>
                </span> <a href="#">{{single_idea.created_at|jformat:"(%d %Y %B)  %H:%M " }}</a>
              </div>
              
              <div class="post-meta">
                <div class="post-date">
                  <span class="icon">
                    <span class="mai-time-outline"> ویرایش شده در :</span>
                    
                  </span> <a href="#">{{single_idea.updated_at|jformat:"(%d %Y %B)  %H:%M " }}</a>
                </div>
              <br>
              <br>
              {% comment %} <div class="post-comment-count ml-2">
                <span class="icon">
                  <span class="mai-chatbubbles-outline"></span>
                </span> <a h>4 Comments</a>ref="#"
              </div> {% endcomment %}
            </div>
            
            <div class="post-content">

                <p> {{single_idea.desc}} </p>
            </div>

            <div> 
              {% load static %}
              {% if single_idea.comp_file %}
              <small>دانلود فایل پیوست ایده </small>
              <a href="{{ single_idea.comp_file.url }}" download> <img src="{% static 'img/Double-J-Design-Origami-Colored-Pencil-Yellow-document-download.ico' %}" alt="file" width=5%%> </a> </div>
              {% else %}
                <p> فایل اضافی موجود نیست </p> 
              {% endif %}
              
            </div>
          

          </div>
        </div>
      </div>

    </div>
  </div>

  
{% endblock %}