
@font-face {
    font-family: 'vazir';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/vazir/vazir.eot');
    src: url('../fonts/vazir/vazir.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vazir/vazir.woff2') format('woff2'),
         url('../fonts/vazir/vazir.woff') format('woff'),
         url('../fonts/vazir/vazir.ttf') format('truetype');
         }
*{
    margin: 0;
    padding: 0;
    /* user-select: none: */
    box-sizing: border-box;
    font-family: 'vazir' , sans-serif;
}
html,body{
    height: 100%;
    
}
body{
    display: grid;
    place-items: center;
    background-image: url(https://s4.uupload.ir/files/pexels-ann-h-3482443_agm.jpg);
    background-size:cover ;
    text-align: center;
}
.content{
    width: 330px;
    padding: 40px 30px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: -3px -3px 7px #ffffff73,
                2px 2px 5px rgba(94,104,121,0.288);
}
.content .text{
    font-size: 33px;
    font-weight: 600;
    margin-bottom: 35px;
    color: #ffc107;
}
.field {
    direction: rtl;
    height: 60px;
    width: 100%;
    padding-top: 10px;
    display: flex;
    position: relative;
}
.btn{
    margin: 15px 0;
    width: 100%;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    font-weight: 600;
    background: #f0932b;
    border-radius: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #ffffff;
    box-shadow: 2px 2px 5px #BABECC,
                -5px -5px 10px #ffffff73;
    margin-top: 50px;
    /* not complete */
}
.field input{
    height: 100%;
    width: 100%;
    padding-right: 15px;
    outline: none;
    border: none;
    font-size: 18px;
    background: #ffffff;
    color: #595959;
    border-radius: 25px;
    box-shadow: inset 2px 2px 5px #BABECC,
                inset -5px -5px 10px #ffffff73; 
}
.field input:focus{
    box-shadow: inset 1px 1px 2px #BABECC
                inset -1px -1px 2px #ffffff73;
}
.field span{
    direction: rtl;
    position: absolute;
    color: #595959;
    width: 50px;
    line-height: 50px;
}
.field label{
    padding: 15px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #666666;
}
.field input:valid ~ label{
    opacity: 0;
}
.forget-pass{
    padding-bottom: 20px;
}
.forget-pass a{
    font-size: 16px;
    color: #3498db;
    text-decoration: none;
}
.forget-pass:hover a{
    text-decoration: underline;
}
button{
   
}

button:focus{
    color: #000000;
    box-shadow: inset 2px 2px 5px #BABECC,
                inset -5px -5px 10px #ffffff73;
}

.sign-up{
    margin: 10px 0;
    color: #595959;
    font-size: 16px;
}
.sign-up a{
    color: #3498db;
    text-decoration: none;
}
.sign-up a:hover{
    text-decoration: underline;
}
