{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div dir="rtl" class="container">
        <div class="page-banner">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-md-6">
            <h1 class="text-center">درباره ما</h1>
            </div>
        </div>
        </div>
    </div>

    <div dir="rtl" style="text-align:right;" class="page-section">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-12 py-3">
              <h2 class="title-section">بیشتر  طلوع را بشناسیم.</h2>
              <div class="divider"></div>
    
              <p>شتابدهنده طلوع این اقدام را رقم خواهد زد که در آن گروه‌ها و ایده ها و مجموعه هایی که می‌خواهند در زمینه فرهنگی و اجتماعی حرکت کنند را مورد حمایت قرار می دهد که این حمایت صرفا مالی نیست و بخشی هم به صورت مشاوره و آموزش و اتصال این تیم ها و هسته ها به هم و نهادهای متولی برای حل مشکلات است..</p>
              <p> این شتاب دهنده میتواند سکوی پرتابی برای ایده های خلاقانه و مشکل گشا باشد و فعالان فرهنگی - اجتماعی با شناخت ظرفیت های یکدیگر در استان بواسطه این سامانه، توانمندتر از گذشته ایفای نقش کنند.</p>
              <p>از جمله دیگر سرویس های طلوع معرفی و پشتیبانی از استارتاپ های برگزیده این زمینه از فعالیت ها خواهد بود </p>
              <p>در بخش تبادل خدمات نیز طلوع سعی دارد بستری راحت تر در زمینه اتصال خدمت دهندگان به خدمت گیرندگان را فراهم آورد. </p>
            </div>
          </div>
        </div>
      </div>


      <div class="page-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <div class="card-service wow fadeInUp">
                <div class="header">
                  <img src="{% static 'img/services/service-1.svg' %}" alt=""> 
                </div>
                <div class="body">
                  <h5 class="text-secondary">بانک ایده ها</h5>
                  <p>بخش اصلی</p>
                  
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card-service wow fadeInUp">
                <div class="header">
                  <img src="{% static 'img/services/service-2.svg' %}" alt="">
                </div>
                <div class="body">
                  <h5 class="text-secondary">تبادل خدمات</h5>
                  <p>بخش اصلی</p>
                 
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card-service wow fadeInUp">
                <div class="header">
                  <img src="{% static 'img/services/service-3.svg' %}" alt="">
                </div>
                <div class="body">
                  <h5 class="text-secondary">استارتاپ</h5>
                  <p>بخش اصلی</p>
                  
                </div>
              </div>
            </div>
          </div>
        </div> <!-- .container -->
      </div> <!-- .page-section -->

{% endblock %}