<footer dir="rtl" class="page-footer bg-image" style="background-image: url(../Idea_nama/assets/img/world_pattern.svg); text-align: right; ">
    <div class="container">
      <div class="row mb-5">
        <div class="col-lg-3 py-3">
          <h3>طلوع</h3>
          <p>ایده های خودرا به طلوع بسپارید تا آن هارا رشد دهد.</p>

          <div class="social-media-button">
            <a href="#"><span class="mai-logo-google-plus-g"></span></a>
            <a href="#"><span class="mai-logo-instagram"></span></a>
            <a href="#"><span class="mai-logo-telegram"></span></a>
          </div>
        </div>
        <div class="col-lg-3 py-3">
          <h5>شرکت</h5>
          <ul class="footer-menu">
            <li><a href="{% url 'about' %}">درباره ما</a></li>
            <li><a href="{% url 'events' %}">رویدادها</a></li>
          
          </ul>
        </div>
        <div class="col-lg-3 py-3">
          <h5>تماس با ما</h5>
          <p>صدوده دستگاه بعثت بعد از صفاییان  اتحادیه دانش آموزی سمنان</p>
          <a href="#" class="footer-link">023 33340000</a>
          <a href="#" class="footer-link">etehadie_student@gmail.com</a>
        </div>
        
      </div>
    </div>
  </footer>