<footer dir="rtl" class="page-footer bg-image" style="background-image: url(../Idea_nama/assets/img/world_pattern.svg); text-align: right; ">
    <div class="container">
      <div class="row mb-5">
        <div class="col-lg-3 py-3">
          <h3>ایده نما</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero amet, repellendus eius blanditiis in iusto eligendi iure.</p>

          <div class="social-media-button">
            <a href="#"><span class="mai-logo-facebook-f"></span></a>
            <a href="#"><span class="mai-logo-twitter"></span></a>
            <a href="#"><span class="mai-logo-google-plus-g"></span></a>
            <a href="#"><span class="mai-logo-instagram"></span></a>
            <a href="#"><span class="mai-logo-youtube"></span></a>
          </div>
        </div>
        <div class="col-lg-3 py-3">
          <h5>شرکت</h5>
          <ul class="footer-menu">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Career</a></li>
            <li><a href="#">Advertise</a></li>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Help & Support</a></li>
          </ul>
        </div>
        <div class="col-lg-3 py-3">
          <h5>تماس با ما</h5>
          <p>سمنان - میدان شقایق رو به رو پارک شقایق</p>
          <a href="#" class="footer-link">+00 1122 3344 5566</a>
          <a href="#" class="footer-link">seogram@temporary.com</a>
        </div>
        <div class="col-lg-3 py-3">
          <h5>خبرنامه</h5>
          <p>Get updates, news or events on your mail.</p>
          <form action="#">
            <input type="text" class="form-control" placeholder="ایمیل خود را وارد کنید.">
            <button type="submit" class="btn btn-success btn-block mt-2">عضو خبرنامه شوید.</button>
          </form>
        </div>
      </div>

      <p class="text-center" id="copyright">Copyright &copy; 2021. This template designed and developed by <a href="#" target="_blank">Arshiya Rasooli</a></p>
    </div>
  </footer>